<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Manipulate These, Too!</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Key</key>
			<string>FavoriteLetter</string>
			<key>Title</key>
			<string>Favorite Letter</string>
			<key>Titles</key>
			<array>
				<string>Alpha</string>
				<string>Bravo</string>
				<string>Charlie</string>
				<string>Delta</string>
				<string>Echo</string>
				<string>Foxtrot</string>
				<string>Golf</string>
				<string>Hotel</string>
				<string>India</string>
				<string>Juliet</string>
				<string>Kilo</string>
				<string>Lima</string>
				<string>Mike</string>
				<string>November</string>
				<string>Oscar</string>
				<string>Papa</string>
				<string>Quebec</string>
				<string>Romeo</string>
				<string>Sierra</string>
				<string>Tango</string>
				<string>Uniform</string>
				<string>Victor</string>
				<string>Whiskey</string>
				<string>X-ray</string>
				<string>Yankee</string>
				<string>Zulu</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>10</integer>
				<integer>7</integer>
				<integer>92</integer>
				<integer>2</integer>
				<integer>45</integer>
				<integer>19</integer>
				<integer>79</integer>
				<integer>4</integer>
				<integer>16</integer>
				<integer>88</integer>
				<integer>54</integer>
				<integer>73</integer>
				<integer>1</integer>
				<integer>18</integer>
				<integer>5</integer>
				<integer>32</integer>
				<integer>15</integer>
				<integer>65</integer>
				<integer>3</integer>
				<integer>22</integer>
				<integer>41</integer>
				<integer>53</integer>
				<integer>9</integer>
				<integer>28</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>LazyDay</string>
			<key>Title</key>
			<string>Lazy Day</string>
			<key>Titles</key>
			<array>
				<string>Sunday</string>
				<string>Monday</string>
				<string>Tuesday</string>
				<string>Wednesday</string>
				<string>Thursday</string>
				<string>Friday</string>
				<string>Saturday</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>6</integer>
			<key>Key</key>
			<string>HappiestMonth</string>
			<key>Title</key>
			<string>Happiest Month</string>
			<key>Titles</key>
			<array>
				<string>January</string>
				<string>February</string>
				<string>March</string>
				<string>April</string>
				<string>May</string>
				<string>June</string>
				<string>July</string>
				<string>August</string>
				<string>September</string>
				<string>October</string>
				<string>November</string>
				<string>December</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>ChildOne</string>
</dict>
</plist>
