<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>BAMSettingsVersion</string>
			<key>Title</key>
			<string>BAMSettings Version</string>
			<key>Titles</key>
			<array>
				<string>1.0.0</string>
			</array>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>License</string>
			<key>Title</key>
			<string>License Agreement</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Manipulate These!</string>
			<key>FooterText</key>
			<string>CopyrightNotice</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>	
		<dict>
			<key>DefaultValue</key>
			<string>Great!</string>
			<key>Key</key>
			<string>CustomerFeedback</string>
			<key>Title</key>
			<string>Customer Feedback</string>
			<key>Titles</key>
			<array>
				<string>Great!</string>
				<string>Wonderful!</string>
				<string>Love It!</string>
				<string>Best Ever!</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>Great!</string>
				<string>Wonderful!</string>
				<string>Love It!</string>
				<string>Best Ever!</string>
			</array>
		</dict>	
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>TypeSomething</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Type Something</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>IsEnabled</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>Squareyness</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string>square.png</string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string>circle.png</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>TypeSomething2</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Type Something 2</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>ChildOne</string>
			<key>Title</key>
			<string>Child Pane</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
